In [5]:
from konlpy.tag import Okt
from typing import List
from textrankr import TextRank
class OktTokenizer:
    okt: Okt = Okt()

    def __call__(self, text: str) -> List[str]:
        tokens: List[str] = self.okt.pos(text, norm=True, stem=True, join=True)
        return tokens
k = 3   
tok = OktTokenizer()
textrank = TextRank(tok)

stri = '''
소안항은 조용한 섬으로 인근해안이 청정해역으로 일찍이 김 양식을 해서 높은 소득을 올리고 있으며 바다낚시터로도 유명하다. 항 주변에 설치된 양식장들은 섬사람들의 부지런한 생활상을 고스 란히 담고 있으며 일몰 때 섬의 정경은 바다의 아름다움을 그대로 품고 있는 듯하다. 또한, 섬에는 각시여 전설, 도둑바위 등의 설화가 전해 내려오고 있으며, 매년 정월 풍어제 풍속이 이어지고 있다.<br>
'''

b = textrank.summarize(stri, k, verbose=False)

In [6]:
from konlpy.tag import Okt
voc = '형태소 란 문장을 구성하는 의미 요소 중 가장 작은 단위를 말한다.'
okt_pos = Okt().pos(voc, norm=True, stem=True) 
okt_filtering = [x for x, y in okt_pos if y in ['Noun', 'Adjective', 'Verb']]
print(okt_filtering)

['형태소', '란', '문장', '구성', '하다', '의미', '요소', '중', '가장', '작다', '단위', '말', '하다']

In [7]:
b

['소안항은 조용한 섬으로 인근해안이 청정해역으로 일찍이 김 양식을 해서 높은 소득을 올리고 있으며 바다낚시터로도 유명하다',
 '항 주변에 설치된 양식장들은 섬사람들의 부지런한 생활상을 고스 란히 담고 있으며 일몰 때 섬의 정경은 바다의 아름다움을 그대로 품고 있는 듯하다',
 '또한, 섬에는 각시여 전설, 도둑바위 등의 설화가 전해 내려오고 있으며, 매년 정월 풍어제 풍속이 이어지고 있다']

In [3]:
import pandas as pd

In [4]:
A = pd.read_csv('./roberta-s_E10_lr3e5_adamw_fullPreprocessing_PosExtractor_S20.csv')
A

              id           cat3
0     TEST_00000          외국문화원
1     TEST_00001          외국문화원
2     TEST_00002          외국문화원
3     TEST_00003        패밀리레스토랑
4     TEST_00004             민박
...          ...            ...
7275  TEST_07275           기암괴석
7276  TEST_07276           기암괴석
7277  TEST_07277            서양식
7278  TEST_07278  스노쿨링/스킨스쿠버다이빙
7279  TEST_07279          외국문화원

[7280 rows x 2 columns]

In [5]:
comp = pd.read_csv('./results/auto_roberta-s_E7_lr3e5_adamw_fullPreprocessing_PosExtractor_S20_infer.csv')
comp

              id       cat3
0     TEST_00000         한식
1     TEST_00001         한식
2     TEST_00002         한식
3     TEST_00003       수련시설
4     TEST_00004    자연생태관광지
...          ...        ...
7275  TEST_07275         한식
7276  TEST_07276        문화원
7277  TEST_07277  야영장,오토캠핑장
7278  TEST_07278         모텔
7279  TEST_07279        박물관

[7280 rows x 2 columns]

In [ ]:
for i in range(7280)

In [6]:
c = comp['cat3'] == A['cat3']

In [32]:
z = c.value_counts()
z

False    7224
True       56
Name: cat3, dtype: int64

In [36]:
from glob import glob
import os 
res_list = glob('./results/*')
res_list = sorted(res_list, key=lambda x : int(x.split('_E')[-1].split('_lr')[0]))
s_list = []
for path in res_list :
    comp = pd.read_csv(path)
    scr = comp['cat3'] == A['cat3']
    scr = scr.value_counts()
    f = scr[0]
    t = scr[1]
    score = t/(t+f)
    s_list.append(score)
min(s_list)

0.00728021978021978

In [37]:
s_list

[0.012912087912087911,
 0.010439560439560439,
 0.008653846153846154,
 0.007692307692307693,
 0.00782967032967033,
 0.007967032967032966,
 0.007692307692307693,
 0.007692307692307693,
 0.00728021978021978,
 0.008241758241758242,
 0.007967032967032966,
 0.007967032967032966,
 0.00782967032967033,
 0.007554945054945055,
 0.007554945054945055,
 0.007967032967032966,
 0.008379120879120879,
 0.00728021978021978,
 0.00782967032967033,
 0.008379120879120879,
 0.007692307692307693,
 0.008379120879120879,
 0.008241758241758242,
 0.00782967032967033,
 0.008104395604395605,
 0.007967032967032966,
 0.008379120879120879,
 0.008104395604395605,
 0.007967032967032966,
 0.007967032967032966,
 0.00782967032967033,
 0.007692307692307693,
 0.008241758241758242,
 0.007692307692307693,
 0.007554945054945055,
 0.007554945054945055]